.table{
    border: 1px solid black;
}

.containerCoursel{
    width: 70%;
    margin: 0  auto;
    display:flex;
    justify-content: center;
}

body .container h1{
    display: flex;
    justify-content: center;
}
